.container__login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    padding: 1em;
    align-items: center;
    border-radius: 15px;
}

.container__login img {
    width: 100%;
    text-align: center;
}

.form__login {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1em;
    width: 100%;
}

.input__login {
    border: 1px solid gray;
    padding: 1px;
    width: 100%;
}

.campo__input {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#btn__login {
    background-color: var(--blue);
    border: none;
    padding: 0.25em;
    color: white;
    font-size: 14px;
    width: 50%;
    cursor: pointer;
}

#btn__login:hover {
    background-color: var(--blue-hover);
}